.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: rgba(131, 114, 96, 0.835);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form__group-title {
    width: 300px;
    display: flex;
    align-items: center;
}

.form__group-content {
    width: 800px;
    text-align: left;
}

.form__label--item {
    color: rgba(131, 114, 96, 0.835);
}

.form__label--required {
    color: red;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 600px;
    border: 1px solid #dad2d2;
    border-radius: 3px;
    background-color: #f6f6f6;
    appearance: none;
    height: 40px;
}

.form__input--name input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f6f6f6;
    appearance: none;
    height: 40px;
}

.form__input--gender label {
    color: rgba(131, 114, 96, 0.835);
}

.form__input--tell input {
    padding: 10px;
    width: 150px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f6f6f6;
    appearance: none;
    height: 40px;
}

.form__input--category select {
    padding: 10px;
    width: 300px;
    border: 1px solid #dad2d2;
    border-radius: 3px;
    background-color: #f6f6f6;
    appearance: none;
    height: 40px;
}

.form__input--textarea textarea {
    padding: 10px;
    width: 600px;
    border: 1px solid #dad2d2;
    border-radius: 3px;
    background-color: #f6f6f6;
    appearance: none;
    height: 180px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: rgba(131, 114, 96, 0.835);
    color: #fff;
    cursor: pointer;
}